<header class="seach-header">
    <span class="icon-back"></span>
    <div class="search-wrap">
        <span class="icon-search"></span>
        <input type="text" placeholder="请输入关键字" class="ipt">
        <span class="search-btn">搜索</span>
    </div>
</header>
<div class="main">
    <div class="tag-wrap">
        <h2>热门搜索</h2>
        <ul class="type-tag hot">
        </ul>
        <h2>历史搜索</h2>
        <ul class="type-tag history">
        </ul>
    </div>
    <div class="search-list none"></div>
</div>